{% extends "blog\base.html" %}
{% block title %} Reset Password {% endblock %}
{% block content %}
    <div class="form-card">
        <h3>Reset Password</h3>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email" class="form-label">Enter your email</label>
                <input class="form-control" type="email" name="email" id="email">
            </div>
        <!-- {{ form.as_p }} -->
            <button type="submit" class="btn btn-primary btn-full">Send Reset Link</button>
        </div>
{% endblock %}