{% extends "blog/base.html" %}

{% block content %}
<div class="form-card-post">
    
    {% if form.instance.pk %}
    Edit Post
    {% else %}
    Create Post
    {% endif %}
    
    <form method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
            </label>
            {{ field }}

            {% if field.errors %}
            {% for error in field.errors %}
            <div class="form-error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">
            Save Post
        </button>
    </form>

</div>
{% endblock %}